.greenbg {
  background: #43a047;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 0px;
}
.nopaddin {
  padding-left: 5px;
}
.nopaddin1 {
  padding-left: 1px;
}
.letstalk {
  color: #fff;
  text-align: left;
  font: SemiBold 20px/34px Nunito Sans;
  letter-spacing: 0px;
  padding-left: 0.4rem;
  opacity: 1;
}
.contactus {
  color: #fff;
  text-align: left;
  font: Bold 56px/84px Nunito Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.contactenquire {
  font: Bold 24px/36px Nunito Sans;
  letter-spacing: 0px;
  color: #43a047;
  opacity: 1;
}
.formwrapper {
  padding: 3rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 40px #0000000d;
  opacity: 1;
  position: relative;
  bottom: 2.5rem;
}
.infowrapper1 {
  padding: 2.9rem 1rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-left: 2rem;
}
.extrah {
  height: 70px;
}
.headercontact {
  font: Bold 20px/30px Nunito Sans;
  letter-spacing: 0px;
  color: #43a047;
  opacity: 1;
  padding-bottom: 0.5rem;
}
.corres {
  text-align: left;
  font: SemiBold 18px/26px Nunito Sans;
  letter-spacing: 0px;
  color: #455065b2;
  opacity: 1;
}
.contactcontent {
  font: SemiBold 15px/24px Nunito Sans;
  letter-spacing: 0px;
  color: #2a2e43;
  opacity: 1;
  padding-bottom: 1rem;
}
.contactcontent1 {
  font: SemiBold 18px/26px Nunito Sans;
  letter-spacing: 0px;
  color: #2a2e43;
  opacity: 1;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.contactcontent2 {
  font: SemiBold 18px/26px Nunito Sans;
  letter-spacing: 0px;
  color: #2a2e43;
  opacity: 1;
  padding-top: 1.5rem;
  padding-bottom: 0.1rem;
}

.linkphone {
  color: #2a2e43;
}
.linkphone:hover {
  text-decoration: none;
}

.oi12 {
  margin-bottom: 10rem;
}
@media (max-width: 600px) {
  .contactus {
    font: Bold 33px/84px Nunito Sans;
  }
  .infowrapper1 {
    padding: 2.9rem 0rem;
    margin-left: 1.8rem;
  }
  .formwrapper {
    padding: 2rem;
  }
  .nopaddin{
    padding-left: 1rem;
  }
}
