.hom1 {
  font-size: 4.2em;
  font-weight: 600;
  letter-spacing: 0px;
  color: #2a2e43;
  opacity: 1;
  line-height: 1;
  max-width: 410px;
}
.push {
  margin-top: 2rem !important;
}
.jcenter {
  justify-content: center;
}
.jusk {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  left: 8%;
}
.jusk1 {
  display: flex;
  justify-content: flex-start;
}
.homeimage1 {
  width: 100%;
}
.greenground {
  background: #43a047;
  padding: 0.4rem;
  position: relative;
  width: 363px;
  max-width: 406px;
  min-width: auto;
  top: -1.1rem;
  z-index: -1;
}
@media (max-width: 780px) {
  .iconpaystack {
    margin-top: 2.2rem;
    margin-left: 1rem;
  }
  .customers {
    width: 295px;
    font-style: italic;
  }
  .homeimage1 {
    margin-top: 3rem;
  }
}
@media (min-width: 768px) {
  .greenground {
    min-width: 270px;
  }
  .customers {
    min-width: 291px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    font-style: italic;
  }
}
.home2 {
  letter-spacing: 0px;
  color: #2a2e43;
  opacity: 1;
  font-size: 1.2em;
  padding-top: 1.8rem;
  font-weight: 600;
  padding-bottom: 2rem;
}
.getstarted {
  display: inline-block;
  color: #fff;
  background: #43a047 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  font-size: 14px;
  padding: 0.5rem 1.3rem;
  transition: transform 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
}
.getstarted:hover {
  transform: scale(1.07);
}

.home0 {
  margin-bottom: 1rem;
}
.secrow1 {
  justify-content: center;
  margin-top: 10rem;
}
.secrow2 {
  text-align: center;
  letter-spacing: 0px;
  color: #2a2e43;
  opacity: 1;
}
.home3 {
  font-size: 2.2em;
  font-weight: 700;
  letter-spacing: 0px;
  color: #2a2e43;
  opacity: 1;
}
.home4 {
  font-size: 16px;
  margin-top: 1.3rem;
  font-weight: 600;
  letter-spacing: 0px;
  color: #2a2e43;
  margin-bottom: 3rem;
  line-height: 1.6;
  opacity: 1;
  word-spacing: 1.9px;
}
.thirdrow1 {
  padding: 8%;
  padding-bottom: 1%;
  padding-top: 4%;
  margin-top: 2rem;
}
.thirdrow2 {
  padding: 0.1px 0%;
  padding-bottom: 4%;
}
.greenground1 {
  background: #43a047;
  padding: 0.3rem;
  position: relative;
  width: 150px;
  max-width: 406px;
  min-width: auto;
  top: -1.26rem;
  z-index: -1;
}
.greenground2 {
  background: #43a047;
  padding: 0.3rem;
  position: relative;
  width: 215px;
  max-width: 406px;
  min-width: auto;
  top: -1.26rem;
  z-index: -1;
}
.home5 {
  font-size: 2.3em;
  font-weight: 700;
  letter-spacing: 0px;
  color: #2a2e43;
  opacity: 1;
}
.centerp {
  text-align: center;
  padding-bottom: 3rem;
}
.home6 {
  font-size: 16px;
  margin-bottom: 2rem;
  font-weight: 600;
  letter-spacing: 0px;
  color: #2a2e43;
  line-height: 1.6;
  opacity: 1;
  word-spacing: 1.9px;
}
.home6a {
  font-weight: 600;
  letter-spacing: 0px;
  color: #2a2e43;
  opacity: 1;
  text-align: left;
  padding-bottom: 2rem;
  font: Bold 20px/34px Nunito Sans;
}
.thirdrow4 {
  margin-bottom: 4rem;
}
.card1wrapper {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.card2wrapper {
  display: flex;
  margin-bottom: 2rem;
}
.how12 {
  height: fit-content;
  margin-top: 1rem;
  margin-right: 0.5rem;
}
.how11 {
  height: fit-content;
}
.steptext {
  padding-top: 1rem;
  font-weight: 600;
  font-size: 18px;
}
.howitworksimage {
  width: 140px;
  height: 200px;
}
.home7 {
  font-size: 16px;
  margin-bottom: 2rem;
  font-weight: 600;
  letter-spacing: 0px;
  color: #2a2e43;
  line-height: 1.6;
  opacity: 1;
  word-spacing: 1.9px;
}
.howitworksimage1 {
  width: 195px;
  height: 279px;
}
.testimage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 1rem;
}
.testimonialuser {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  color: #455065;
  font-size: 14px;
}
.displayflex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dummybg {
  color: #2a2e437d;
  opacity: 0.1;
  font-size: 34m;
  font-size: 15em;
  position: absolute;
}
.thirdrow4a {
  margin-bottom: 5rem;
}
.thirdrowtest {
  padding: 5%;
  padding-left: 8%;
  padding-bottom: 1%;
  padding-top: 4%;
  justify-content: center;
  margin-top: 2rem;
}
.dmrel {
  position: relative;
  left: 7rem;
  bottom: 4rem;
}
.iconmonnify {
  width: 24%;
  height: 45px;
  min-width: 230px;
  margin-top: 1.6rem;
  display: inline-block;
}
.icontray {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.startingtoday {
  background: #e5ffe6 0% 0% no-repeat padding-box;
  opacity: 1;
}
.box121 {
  margin-top: 5rem;
  margin-left: 2rem;
  width: 400px;
}
.fle121 {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  padding-top: 0px;
  padding-bottom: 3rem;
  padding-left: 1rem;
}
.sideImage3wrap {
  position: relative;
  right: 22.3rem;
  top: 0.2rem;
}
.exp {
  padding-bottom: 1rem;
}
.sideImage3 {
  margin-right: 5rem;
  position: absolute;
  top: -3rem;
  width: 351px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.playstore {
  width: 160px;
  margin-right: 1rem;
}
.playstore1 {
  width: 120px;
  margin-right: 1rem;
}
.pramopronavlogo {
  width: 176px;
}
.loi {
  margin-bottom: 4rem;
}
.shiftbottom1 {
  padding-bottom: 6rem;
}
/* footer */
.n01 {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}
.footwrap {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  padding-right: 2rem;
  margin-top: 5rem;
  padding-left: 6rem;
}
.n02 {
  padding: 0.4rem;
  display: flex;
  font-size: 14px;
  width: 20%;
}
.n02 > div {
  margin-right: 2.5rem;
  padding-top: 1rem;
}
.footerhead {
  font-size: 13px;
  font-weight: 700;
}
.footertitle {
  font-weight: 700;
  font-size: 14px;
  margin-right: 2rem;
}
.n11 {
  width: 40%;
}
.jmcn {
  margin-bottom: 2rem;
}
.nw2 {
  display: flex;
}
.oilde {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 7%;
  padding-right: 2%;
}
.footlast12 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.howitworksimage4 {
  width: 145px;
  height: 219px;
}
@media (max-width: 1200px) {
  .how11,
  .how12 {
    display: none;
  }
  .jusk {
    top: 4rem;
  }
  .push {
    margin-top: 1rem !important;
  }
  .card1wrapper {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .icontray {
    flex-wrap: wrap;
  }
  .customers {
    width: 289px;
  }
  .leftarrowcontainer,
  .leftarrow {
    top: 19%;
  }
}

@media (max-width: 865px) {
  .jusk {
    position: relative;
    left: 13%;
  }
  .hom1 {
    font-size: 2.5em;
  }
  .home2 {
    padding-top: 0rem;
    padding-bottom: 0.1rem;
  }
  .jusk {
    top: 4rem;
  }
  .customers {
    width: 277px;
  }
  .greenground {
    width: 260px;
  }
  .sideImage3 {
    display: none;
  }
  .footwrap {
    flex-wrap: wrap;
  }
  .thirdrow1 {
    padding: 3%;
    padding-bottom: 1%;
    padding-top: 4%;
  }
  .icontray {
    justify-content: center;
  }
  .startingtoday {
    margin-bottom: 2rem;
  }
  .iconmonnify {
    width: 250px;
    margin-bottom: 2rem;
    margin-top: 4rem;
  }
  .footwrap {
    justify-content: space-between;
    padding: 1rem;
    padding-right: 6rem;
    padding-left: 1.3rem;
  }
  .oilde {
    padding-left: 4%;
    padding-right: 2%;
  }
  .fle121 {
    padding: 0px;
    padding-bottom: 3rem;
  }
  .playstore1 {
    margin-top: 1rem;
  }
  .Appwrapper {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .jusk {
    left: 2%;
    order: 2;
    padding-top: 3rem;
  }
  .slide1wrap {
    margin-left: 0rem;
  }
  .greenground1,
  .greenground2 {
    display: none;
  }
  .hom1,
  .home3,
  .home5,
  .centerp {
    font-size: 18px;
  }
  .icontray {
    padding-top: 0rem;
  }
  .iconpaystack {
    width: 170px;
    margin-left: 0rem;
    margin-bottom: 1rem;
    min-width: 160px;
    height: 29px;
  }
  .iconsouth {
    width: 178px;
    margin-top: 2rem;
  }

  .iconmonnify {
    width: 170px;
    margin-bottom: 1rem;
    min-width: 160px;
    height: 29px;
  }
  .jusk1 {
    order: 1;
  }
  .playstore {
    margin-bottom: 2rem;
  }
  .thirdrowtest {
    padding-left: 4%;
  }
  .icontray {
    justify-content: center;
  }
  .customers {
    width: 100%;
  }
  .hom1 {
    font-size: 2.6em;
  }
  .pramopronavlogo {
    padding-bottom: 2rem;
  }
  .footerhead {
    text-align: center;
  }
  .playstore1 {
    width: 55px;
  }
}
.linkedin {
  width: 15px;
  margin-top: 0.9rem;
}
.ckks {
  justify-content: start;
}
@media (max-width: 400px) {
  .jusk {
    left: 0rem;
  }
  .hom1 {
    width: 100px;
  }
  .greenground {
    width: 232px;
  }
  .box121 {
    margin-left: 0rem;
  }
  .playstore {
    width: 120px;
    margin-right: 0.3rem;
  }
  .home2 {
    padding-top: 0rem;
  }
  .n01 {
    display: none;
  }
  .slide1wrap {
    width: 246px;
    height: 287px;
    max-width: 335px;
    max-height: 390px;
    margin-right: 2rem;
    margin-left: 0rem;
    margin-bottom: 2rem;
  }
  .howitworksimage,
  .howitworksimage1 {
    width: 120px;
    height: 94px;
  }
  .howitworksimage4 {
    width: 72px;
    height: 112px;
  }
  .slidewrapper {
    position: relative;
    left: 2rem;
  }
  .react-multiple-carousel__arrow {
    outline: none !important;
    background: #43a047 !important;
  }
  .home6a,
  .home4,
  .home2 {
    font-size: 14px;
  }
  .center-changed {
    height: 59vh;
  }
  .jdjd {
    padding-bottom: 0px;
  }
  .getstarted{
    margin-top: .5rem;
  }
  .customers {
    margin-top: 3rem;
  }
}
@media (max-width: 350px) {
  .slidewrapper {
    position: relative;
    left: 1rem;
  }

  .dliver {
    font-size: 18px;
  }
}
.n2 > a {
  color: initial;
}
.n3 > a {
  color: initial;
}
.n3 > a:hover {
  color: initial;
  text-decoration: none;
}
.n4 > a {
  color: white;
  text-decoration: none;
}
.n4 > a:hover {
  color: white;
  text-decoration: none;
}
.n2 > a:hover {
  color: initial;
  text-decoration: none;
}
.footertitle > a {
  color: inherit;
  text-decoration: none;
}

.container-fluid {
  overflow-x: hidden;
}
.getstarted > a {
  color: inherit;
}
.rightarrw1product a {
  color: inherit !important;
  text-decoration: none;
}
@media (max-width: 665px) {
  .footwrap {
    padding-right: 0rem;
  }
}
a {
  cursor: pointer;
}
.leftarrow {
  cursor: pointer;
}
.iconpaystack,
.iconsouth {
  max-width: 290px;
}
.iconmonnify {
  max-width: 230px;
}
.sttw {
  position: relative;
  bottom: 1.1rem;
}
.littf {
  text-align: right !important;
  font-size: 13px !important;
  padding-right: 1rem ;
  width: 86%;
}

.tdata > td {
    padding: 1rem .1rem;
}
.table thead th{
  padding: 1rem 0rem;
}