@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,600&display=swap");
.custext {
  text-align: left;
  font-family: "Nunito Sans" !important;
  font-weight: 600 !important;
  letter-spacing: 0px;
  color: #455065;
  opacity: 1;
  min-height: 96px;
}
.home6a {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0px;
    color: #2a2e43;
    opacity: 1;
    text-align: left;
    padding-bottom: 2rem;
  }
.customers {
  width: 345px;
  background: #fff 0% 0% no-repeat padding-box;
  margin-top: 1rem;
}
